body {
	margin: 0 auto;
}
img {
	/*height: 100%;*/
	width: 100%;
}

.people__container{
	background-color: lightblue;
	border-radius: 20px;
	padding: 5px;
	width: 400px;
	margin: 0 auto;
	display: inline-block;
}

/*For every even numbered element, have a light yellow background.
For every odd numbered element, have a light blue background.*/
.people__container:nth-child(even) {
	background-color: #FFD833;	
}

.people__container header, footer {
	font-size: 1.5em;
}